/* UNIVERSAL SELECTOR=* */

body {
    color: rgb(50, 60, 206);
    background:  rgb(243, 240, 240);
    

}

/*Type Selector*/
p {
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1em;
    text-indent: 0em;
    font-size: 100%;
}





h1 {
    color: rgb(94, 85, 5);
}

/*ID SELECTOR*/
#justice {
    color: rgb(252, 22, 22);
}

#first_list_partone {
    margin: 1%;
}

#first_list_partwo {
    margin: 1%;
}
#second_list {
    background: linear-gradient(10deg, rgb(171, 171, 179) 10%, rgb(238, 231, 231) 10%);
    padding: 1%;
    margin: 2%;
}


/* CLASS SELECTOR */
.toppage {
    color: rgb(128, 128, 128);
}

.list {
    border:3px solid rgb(3, 3, 3) ;
}

/*RELATIONAL SELCTOR*/
section#second_list>ul {
    color: rgb(24, 15, 4);
}

/*DESCENDANT SELECTOR*/
main strong {
    color: rgb(85, 6, 78);
}

/*PUESDO*/

section#first_list a:hover {
    color: rgb(42, 105, 58);
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}